@import url(https://fonts.googleapis.com/css?family=Catamaran:800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,400italic);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: linear-gradient(to bottom,  #bed0d0 0%,#e6eded 100%);
  background: -moz-linear-gradient(top,  #bed0d0 0%, #e6eded 100%);
  background: -webkit-linear-gradient(top,  #bed0d0 0%,#e6eded 100%);
}

h1 {
  font-family: Catamaran;
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
}

.header h1 {
  margin: 0.5rem 2rem;
  padding: 0rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  background-color: #29526D;
  border-radius: 1rem;
  color: #fff;
  position: relative;
}

.info {
  padding-bottom: 0rem;
  float: none;
}

.info h1 {
  margin-top: 5.5rem;
  line-height: 1.3;
  float: right;
  width: 42%;
  margin-bottom: 0;
}

.info p {
  margin-top: 5rem;
  float: none;
  width: 100%;
  font-style: italic;
  display: inline-block;
  line-height: 1.8;
}

.img {
  background: url(/assets/pic/me.jpg);
  margin: 3rem 3rem 0 4rem;
  border-radius: 30%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border: 4px solid #fff;
}

.main {
  border: 1px solid lightgrey;
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.main h2 {
  text-align: center;
  margin: 0;
  padding-top: 2.5rem;
  font-weight: 700;
}

.main p {
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
}

.main p span {
  text-decoration: underline;
  font-style: normal;
}

.test {
    width: 100%;
    display: inline-block;
}

.main-pic {
  background: url(/assets/pic/tasjo800.jpg);
  height: 330px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  -webkit-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  float: none;
}

.main-text {
  float: none;
  width: 100%;
  padding: 0;
}

#contact h2 {
  padding: 1rem;
  margin: 1rem;
}

.social {
  list-style: none;
  padding-top: 50px;
  text-align: center;
  clear: both;
}

.social li{
  display: inline;
  margin: 2rem;
}

.social img{
  width: 32px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 2px 5px rgba(0,0,0,.1);
  border-radius: 50%;
  transition: box-shadow .2s;
}

hr {
  width: 80%;
}

.footer p {
  width: 100%;
  text-align: center;
  line-height: 3;
}

.footer {
  padding-top: 1rem;
}
