@import url(https://fonts.googleapis.com/css?family=Catamaran:800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,400italic);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: linear-gradient(to bottom,  #bed0d0 0%,#e6eded 100%);
  background: -moz-linear-gradient(top,  #bed0d0 0%, #e6eded 100%);
  background: -webkit-linear-gradient(top,  #bed0d0 0%,#e6eded 100%);
}

h1 {
  font-family: Catamaran;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.header h1 {
  margin: 1.5rem 2rem;
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: 800;
  background-color: #29526D;
  border-radius: 1rem;
  color: #fff;
}

.info {
  padding-bottom: 4rem;
}



.info p {
  line-height: 2;
  float: right;
  width: 66%;
  font-style: normal;
}

.info span {
  font-weight: bold;
}

.info a {
  text-decoration: none;
  text-decoration: underline;
}

.info a:link {
  color: #333;
}

.img {
  background: url(/assets/pic/me.jpg);
  margin: 3rem 3rem 0 4rem;
  border-radius: 30%;
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border: 4px solid #fff;
  float: left;
}

#jobs {
  padding-top: 6rem;
  letter-spacing: 3px;
}

.main {
  border: 1px solid lightgrey;
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -mwebkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.main h2 {
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.main p {
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
  font-weight: normal;
}

.main p span {
  text-decoration: underline;
  font-style: normal;
}

.main-pic {
  background: url(/assets/pic/tasjo1890.jpg);
  height: 400px;
  width: 50%;
  -webkit-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.main-text {
  width: 50%;
  padding: 6rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact {
  text-align: center;
  margin-top: 3rem;
}

#contact h2 {
  margin: 1rem;
  padding: 1rem;
}

#contact h3 {
  display: inline;
  border: 3px solid white;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  padding: .6rem .3rem;
  transition: box-shadow 2s ease-out;
}

#contact h3:hover {
  box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.55);
}

#contact a {
  text-decoration: none;
  color: #fff;
}

.social {
  padding: 0;
  margin-top: 3rem;
  text-align: center;
}

.social li{
  display: inline-block;
  margin: 2rem;
}

.social img{
  width: 32px;
  border-radius: 50%;
  transition: box-shadow .8s ease-out;
}

.social img:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,0.1),0 4px 5px rgba(0,0,0,.1);
}

hr {
  width: 80%;
}

#projects-info {
  margin: 4rem 0 4rem 0;
}

#projects-info, h1 {
  text-align: center;
}

#projects-info, hr {
  width: 80%;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

#project1 {
  z-index: 1;
  width: 50%;
  height: 50%;
  transition: width 800ms ease-in-out;
}

#project2 {
  height: 50%;
  margin-left: -28rem;
  width: 50%;
  transition: width 800ms ease-in-out;
}

#project1:hover {
  z-index: 1;
  transition: width 800ms ease-in-out;
}

#project2:hover {
  z-index: 2;
  width: 65%;
  margin-left: -25rem;
  transition: width 800ms ease-in-out;
}

.footer p {
  width: 100%;
  text-align: center;
  line-height: 3;
}

.footer {
  padding-top: 1rem;
}

/************---Media Queries---************/

@media (max-width: 1230px) and (min-width: 981px) {
.wrapper {
  margin: 0 auto;
  max-width: 981px;
  width: 90%;
}

.header h1 {
  margin: 1.5rem 2rem;
  padding: 0rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  background-color: #29526D;
  border-radius: 1rem;
  color: #fff;
  position: relative;
}

.info {
  padding-bottom: 4rem;
  float: left;
}

.info p {
  float: right;
  width: 60%;
  font-style: italic;
}

.img {
  background: url(/assets/pic/me.jpg);
  margin: 5rem 3rem 0 4rem;
  border-radius: 30%;
  width: 225px;
  height: 225px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border: 4px solid #fff;
  float: left;
}

.main {
  border: 1px solid lightgrey;
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.main h2 {
  text-align: center;
  margin: 0;
  padding-top: 1.5rem;
  font-weight: 700;
}

.main p {
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
}

.main p span {
  text-decoration: underline;
  font-style: normal;
}

.main-pic {
  background: url(/assets/pic/tasjo1200.jpg);
  height: 280px;
  width: 50%;
  margin: 1rem 0 1rem 0;
  -webkit-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.main-text {
  padding: 1rem 0 1rem 0;
}

#contact h2 {
  padding: 1rem;
  margin: 1rem;
}

}

/************---Media Queries---************/

@media (max-width: 980px) and (min-width: 768px) {
.wrapper {
  margin: 0 auto;
  max-width: 950px;
  width: 90%;
}

.header h1 {
  margin: 1.5rem 2rem;
  padding: 0rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  background-color: #29526D;
  border-radius: 1rem;
  color: #fff;
  position: relative;
}

.info {
  padding-bottom: 4rem;
  float: left;
}

.info h1 {
  line-height: 1.5;
  float: none;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
}

.info p {
  float: none;
  margin: 0 auto;
  width: 100%;
  font-style: normal;
}

.img {
  background: url(/assets/pic/me.jpg);
  margin: 5rem auto;
  border-radius: 30%;
  width: 225px;
  height: 225px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border: 4px solid #fff;
  float: none;
}

.main {
  border: 1px solid lightgrey;
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.main h2 {
  text-align: center;
  margin: 0;
  padding-top: 1.5rem;
  font-weight: 700;
}

.main p {
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
}

.main p span {
  text-decoration: underline;
  font-style: normal;
}

.main-pic {
  background: url(/assets/pic/tasjo800.jpg);
  height: 200px;
  width: 50%;
  -webkit-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 0 1rem;
  float: right;
}

.main-text {
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#jobs {
padding-top: 2rem;
letter-spacing: 3px;
}

#contact h2 {
  padding: 1rem;
  margin: 1rem;
}

#projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0 3rem 0;
}

}

/************---Media Queries---************/

@media (max-width: 767px) and (min-width: 600px) {
.wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
}

.header h1 {
  margin: 0.5rem 2rem;
  padding: 0rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  background-color: #29526D;
  border-radius: 1rem;
  color: #fff;
  position: relative;
}

.info {
  padding-bottom: 0rem;
  float: none;
}

.info p {
  margin-top: 5rem;
  float: none;
  width: 100%;
  font-style: italic;
  display: inline-block;
  line-height: 1.8;
}

.img {
  background: url(/assets/pic/me.jpg);
  margin: 3rem 3rem 0 4rem;
  border-radius: 30%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border: 4px solid #fff;
}

#jobs {
padding-top: 0;
letter-spacing: 3px;
}

.main {
  border: 1px solid lightgrey;
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.main h2 {
  text-align: center;
  margin: 0;
  padding-top: 2.5rem;
  font-weight: 700;
}

.main p {
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
}

.main p span {
  text-decoration: underline;
  font-style: normal;
}

.test {
    width: 100%;
    display: inline-block;
}

.main-pic {
  background: url(/assets/pic/tasjo800.jpg);
  height: 330px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  -webkit-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  float: none;
}

.main-text {
  width: 100%;
  padding: 0;
}

#contact h2 {
  padding: 1rem;
  margin: 1rem;
}

#projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

#projects-info, h1 {
  padding-top: 6rem;
}

}

/************---Media Queries---************/

@media (max-width: 599px) and (min-width: 300px) {
.wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 90%;
}

.header h1 {
  margin: 1.5rem 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  background-color: #29526D;
  border-radius: 1rem;
  color: #fff;
}

.info {
  padding-bottom: 4rem;
  float: left;
}

.info p {
  padding-top: 1rem;
  float: none;
  width: 100%;
  font-style: italic;
  line-height: 1.6;
}

.img {
  background: url(/assets/pic/me.jpg);
  margin: 3rem auto 0 auto;
  border-radius: 30%;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border: 4px solid #fff;
  float: none;
}

.main {
  border: 1px solid lightgrey;
  box-shadow: 0px 9px 19px -1px rgba(0,0,0,0.75);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.main-text h2 {
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
}

.main-text p {
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
}

.main p span {
  text-decoration: underline;
  font-style: normal;
}

.test {
    width: 100%;
    display: inline-block;
}

.main-pic {
  background: url(/assets/pic/tasjo500.jpg);
  height: 175px;
  width: 100%;
  -webkit-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 19px -5px rgba(0,0,0,0.75);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: block;
}

.main-text {
  width: 100%;
  padding: 0;
}

#contact h2 {
  padding: 1rem;
  margin: 1rem;
}

#projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

#jobs {
  padding-top: 2rem;
  letter-spacing: 3px;
}

#project1 {
  z-index: 1;
  width: 50%;
  height: 50%;
  transition: width 800ms ease-in-out;
}

#project2 {
  height: 50%;
  margin-left: -28rem;
  width: 50%;
  transition: width 800ms ease-in-out;
}

#project1:hover {
  z-index: 1;
  transition: width 800ms ease-in-out;
}

#project2:hover {
  z-index: 2;
  width: 65%;

  transition: width 800ms ease-in-out;
}

}
